.el-icon-air-transport{
  height: 14px;
  width: 14px;
  background: url(../assets/icons/menu-air-transport.png) no-repeat center;
  background-size: 100% 100%;
}
.el-icon-dashboard{
  height: 14px;
  width: 14px;
  background: url(../assets/icons/menu-dashboard.png) no-repeat center;
  background-size: 100% 100%;
}
.el-icon-sea-shipping{
  height: 14px;
  width: 14px;
  background: url(../assets/icons/menu-sea-shipping.png) no-repeat center;
  background-size: 100% 100%;
}
.el-icon-finance{
  height: 14px;
  width: 14px;
  background: url(../assets/icons/menu-finance.png) no-repeat center;
  background-size: 100% 100%;
}
.el-icon-swcms{
  height: 14px;
  width: 14px;
  background: url(../assets/icons/menu-swcms.png) no-repeat center;
  background-size: 100% 100%;
}
.el-icon-charge{
  height: 14px;
  width: 14px;
  background: url(../assets/icons/menu-charge.png) no-repeat center;
  background-size: 100% 100%;
}
.el-icon-crm{
  height: 14px;
  width: 14px;
  background: url(../assets/icons/menu-crm.png) no-repeat center;
  background-size: 100% 100%;
}
.el-icon-company-source{
  height: 14px;
  width: 14px;
  background: url(../assets/icons/menu-company-source.png) no-repeat center;
  background-size: 100% 100%;
}
.el-icon-data-base{
  height: 14px;
  width: 14px;
  background: url(../assets/icons/menu-data-base.png) no-repeat center;
  background-size: 100% 100%;
}
.el-icon-permission{
  height: 14px;
  width: 14px;
  background: url(../assets/icons/menu-permission.png) no-repeat center;
  background-size: 100% 100%;
}
.el-icon-plan{
  height: 14px;
  width: 14px;
  background: url(../assets/icons/menu-plan.png) no-repeat center;
  background-size: 100% 100%;
}
.el-icon-duty-manager{
  height: 14px;
  width: 14px;
  background: url(../assets/icons/menu-duty-manager.png) no-repeat center;
  background-size: 100% 100%;
}
.el-icon-duty{
  height: 14px;
  width: 14px;
  background: url(../assets/icons/menu-duty.png) no-repeat center;
  background-size: 100% 100%;
}
.el-icon-railway {
	height: 14px;
	width: 14px;
	background: url(../assets/icons/menu-railway.png) no-repeat center;
	background-size: 100% 100%;
}
.el-icon-take {
	height: 14px;
	width: 14px;
	background: url(../assets/icons/menu-take.png) no-repeat center;
	background-size: 100% 100%;
}
.el-icon-put {
	height: 14px;
	width: 14px;
	background: url(../assets/icons/menu-put.png) no-repeat center;
	background-size: 100% 100%;
}
.el-icon-put-apply {
	height: 14px;
	width: 14px;
	background: url(../assets/icons/menu-put-apply.png) no-repeat center;
	background-size: 100% 100%;
}
.el-icon-audit {
	height: 14px;
	width: 14px;
	background: url(../assets/icons/menu-audit.png) no-repeat center;
	background-size: 100% 100%;
}
.el-icon-work-exception {
  height: 14px;
	width: 14px;
	background: url(../assets/icons/menu-work-exception.png) no-repeat center;
	background-size: 100% 100%;
}
.el-icon-warehouse-index {
  height: 14px;
	width: 14px;
	background: url(../assets/icons/menu-warehouse-index.png) no-repeat center;
	background-size: 100% 100%;
}
.el-icon-online-rob-tank {
  height: 14px;
	width: 14px;
	background: url(../assets/icons/menu-online-rob-tank.png) no-repeat center;
	background-size: 100% 100%;
}
.el-icon-predict-manage {
  height: 14px;
	width: 14px;
	background: url(../assets/icons/menu-predict-manage.png) no-repeat center;
	background-size: 100% 100%;
}
.el-icon-audit-index {
  height: 14px;
	width: 14px;
	background: url(../assets/icons/menu-audit-index.png) no-repeat center;
	background-size: 100% 100%;
}
.el-icon-wms {
  height: 14px;
	width: 14px;
	background: url(../assets/icons/menu-wms.png) no-repeat center;
	background-size: 100% 100%;
}